{% extends "base.html" %}
{% block extrahead %}
  {{ super() }}
  {% if page.meta and page.meta.social_preview %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="Wireme - Tiny, typed dependency injection for Python.">
    <meta property="og:url" content="{{ page.canonical_url }}">
    <meta property="og:image" content="https://wireme.mghalix.com/assets/social-preview.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://wireme.mghalix.com/assets/social-preview.png">
  {% endif %}
{% endblock %}
